# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
apps/web/node_modules
apps/web/.pnp
apps/web/.pnp.js
apps/web/.yarn/install-state.gz

# testing
apps/web/coverage

# next.js
apps/web/.next/
apps/web/out/

# production
apps/web/build

# misc
apps/web/.DS_Store
apps/web/*.pem

# debug
apps/web/npm-debug.log*
apps/web/yarn-debug.log*
apps/web/yarn-error.log*

# local env files
apps/web/.env*.local

# vercel
apps/web/.vercel

# typescript
apps/web/*.tsbuildinfo
apps/web/next-env.d.ts



#  Backend ingonre 



# compiled output
app/dist
app/node_modules

# Logs
app/logs
app/*.log
app/npm-debug.log*
app/pnpm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*
app/lerna-debug.log*

# OS
app/.DS_Store

# Tests
app/coverage
app/.nyc_output

# IDEs and editors
app/.idea
app/.project
app/.classpath
app/.c9/
app/*.launch
app/.settings/
app/*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.turbo

node_modules

.env